# Task 1: Introduction to ML

### Importing required modules

In [90]:
import pandas as pd

### Reading data from file

In [91]:
data = pd.read_csv("salary_and_population.csv", encoding = 'utf-8', delimiter=',')
data.head()

               Region_RU           Region_EN  AVG_Salary  Population
0         Алтайский край        Altai Region       25960      218866
1       Амурская область         Amur Region       43156      793194
2  Архангельская область  Arkhangelsk Region       47526     1144119
3   Астраханская область    Astrakhan Region       32166     1014065
4   Белгородская область     Belgorod Region       31163     1547418

### Deleting particular regions from dataset

In [92]:
missing_regions_array = ['Sakhalin Region', 'Pskov Region', 'Primorsky Region', 'Murmansk Region']
data_cropped = data.copy()

print("Number of entries before removal: " + str(data_cropped.count()[0]))
for region in missing_regions_array:
    index = data_cropped[data_cropped['Region_EN'] == region].index.values[0]
    data_cropped = data_cropped.drop(index)
print("Number of entries after removal: " + str(data_cropped.count()[0]))

Number of entries before removal: 85
Number of entries after removal: 81

### Calculating various metrics

In [93]:
print("Sample mean of average salary: ", data_cropped['AVG_Salary'].mean())
print("Sample median of average salary: ", data_cropped['AVG_Salary'].median())
print("Estimate variance of average salary: ", data_cropped['AVG_Salary'].var(ddof = 0))
print("Standard deviation of average salary: ", data_cropped['AVG_Salary'].std(ddof = 0))

Sample mean of average salary:  38297.18518518518
Sample median of average salary:  32473.0
Estimate variance of average salary:  260639051.3360768
Standard deviation of average salary:  16144.319475780849